body {
    position: relative;

    /* Light blue/light-blue-100 */

    background: #F3F5FC;


}

header {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

#logo {
    width: 110px;
}

main {
    width: 90%;
    margin: 0 auto;
    margin-top: 1.5%;
}

.container {
    display: flex
}

.contenedorResul {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    margin-left: auto;
    height: 530px;
    width: 40%;

    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.formTraduccion textarea {

    float: left;
    text-align: left;
    height: 400px;
    width: 105%;

}

textarea {
    margin: 1% 10% auto;
    display: block;
    border: none;
    resize: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background: transparent;
    outline: 0 none;
    overflow-y: hidden;

    /* Dark blue/dark-blue-300 */
    color: #0A3871;
}

#resubt {
    align-self: center;
    margin-top: auto;
    margin-bottom: 3%;
    color: #0A3871;

    background: #ffffff;
    border: 1px solid #0A3871;
}

#resultado {
    margin: 4% 8% auto;
    color: #495057;
}

#menj {

    display: inline-flex;
    align-items: center;
    color: #495057;
    opacity: 0.8;
    line-height: 20;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    margin-left: 6.5%;
}

p {
    margin-left: 12px;
}

form {
    display: inline-block;
    margin-bottom: 10px;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}


.buttons {
    margin: 1.5% auto;
    margin-left: 6.4%;
    display: flex;
    width: 99%;
    justify-content: space-between;
}


button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* White */
    color: #FFFFFF;

    width: 270px;
    height: 60px;

    /* Dark blue/dark-blue-300 */
    border-radius: 24px;
}



.left-button {
    margin-right: 8%;
    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border: 1px solid #0A3871;
}

.right-button {
    margin-left: 0%;
    /* Light gray */
    /* Dark blue/dark-blue-300 */

    color: #0A3871;

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
}